@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Setting the default element box attributes to zero at the top gives us more control of the box-model measurements 
    when we go to position our elements within a design (essentially clearing them at the start) */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

/* floating the ul right and the li left negates the need to re-order html */

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}